/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #003366, #4a4e69, #74aeb3, #666d72);
    background-size: 400% 400%; /* Define o tamanho do gradiente para animação */
    animation: gradienteMovendo 15s ease infinite; /* Animação do gradiente em movimento */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
h1, h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}
  
input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: calc(100% - 24px); /* Ajusta a largura dos inputs */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
}
  
button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 24px); /* Ajusta a largura dos botões */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
    margin-top: 10px;
}
  
button:hover {
    opacity: 0.9;
}
  
button.adicionar-btn {
    background-color: #28a745; /* Verde para o botão de adicionar */
}
  
button.adicionar-btn:hover {
    background-color: #218838; /* Verde mais escuro no hover */
}
  
button.pago-btn {
    background-color: #dc3545; /* Vermelho para o botão de pago */
}
  
button.pago-btn:hover {
    background-color: #c82333; /* Vermelho mais escuro no hover */
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
}
  
li.pago {
    text-decoration: line-through;
    color: #6c757d;
    background: #e9ecef;
}
  
.footer {
    position: fixed; /* Fixa o elemento na tela */
    bottom: 0; /* Alinha ao fundo da página */
    left: 0; /* Alinha ao canto esquerdo da página */
    padding: 10px;
    font-size: 0.75rem; /* Texto menor para o rodapé */
    color: #ffffff;
    text-align: center;
    width: 100%; /* Garante que o rodapé ocupe toda a largura da tela */
}
  
.mensagem-sucesso, .mensagem {
    color: #28a745;
    text-align: center;
    margin-top: 10px;
}
  
/* Animação do gradiente de fundo */
@keyframes gradienteMovendo {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
  
.busca-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: calc(100% - 24px); /* Ajusta a largura dos inputs */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
}

/* Estilos para os botões de Login e Registro */
button.login-btn,
button.registrar-btn {
    background-color: #28a745; /* Verde para os botões de login e registrar */
}

button.login-btn:hover,
button.registrar-btn:hover {
    background-color: #218838; /* Verde mais escuro no hover */
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}
